WebContent/wsdl/ProductCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://varun.home.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://varun.home.com" xmlns:intf="http://varun.home.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://varun.home.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProductCategories">
    <complexType>
     <sequence>
      <element name="client" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductCategoriesResponse">
    <complexType>
     <sequence>
      <element name="getProductCategoriesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductCategoriesResponse">

      <wsdl:part element="impl:getProductCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductCategoriesRequest">

      <wsdl:part element="impl:getProductCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductCatalog">

      <wsdl:operation name="getProductCategories">

         <wsdl:input message="impl:getProductCategoriesRequest" name="getProductCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductCategoriesResponse" name="getProductCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductCatalogSoapBinding" type="impl:ProductCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProductCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductCatalogService">

      <wsdl:port binding="impl:ProductCatalogSoapBinding" name="ProductCatalog">

         <wsdlsoap:address location="http://localhost:8080/Testmart/services/ProductCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
